body{
	color: #424242;
}
.link_contact{
	font-family: 'Oswald';
	font-size: 14px;
	text-transform: uppercase;
}
.link_contact a{
	color: #424242;
	display: block;
	padding:20px 0;
}
/*form mian*/

.form_main{}
.form_main h1{
	font-size: 36px;
    margin-top: 1em;
    color: #424242;
    position: relative;
    padding-bottom: 13px;
	margin-bottom: 25px;
}
.form_main h1:after,
.main_form .voitre h2:after,
.main_form .formul h2:after,
.main_form .demandes h2:after{
	content: "";
	width: 40px;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #333
}
.form_main .wraper_main{
	margin:auto;
}
.form_main .wraper_main .main_form p.text-left{
	font-size: 16px
}
.main_form p.text-left a{
	color: #424242;
	text-decoration: underline;
	font-weight: bold
}
.main_form p.text-left a:hover{
	color: #72434f;
}
.main_form .voitre{
	margin-top: 60px
}
.main_form{
	font-size:16px
}
.main_form .voitre h2,
.main_form .formul h2,
.main_form .demandes h2{
	font-size:28px;
	line-height: 1.5;
	margin-bottom: 11px;
	position:relative;
	padding-bottom: 10px
}
.main_form .voitre p{
	margin-bottom: 10px
}
.main_form .voitre a{
	color: #424242;
	text-decoration: underline;
}
.main_form .formul{
	margin-top: 60px;
	margin-bottom: 40px
}
.main_form .form{
	font-family: 'Oswald';
}
.main_form .form .form-group{
	width: 100%;
	margin-bottom: 15px
}
.main_form .form .text_name{
	font-size: 14px;
	margin-bottom: 5px
}
.main_form .form select{
	box-shadow: none;
    border: 0;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 13px;
    color: #333;
    width: 100%;
    height: 36px;
    padding:6px 20px;
}
.main_form .form input.form-control{
	box-shadow: none;
    border: 0;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 13px;
    color: #333;
    width: 100%;
    padding:6px 20px;
    height: 36px
}
.main_form .form textarea{
	background:#f1f1f1;
	border:0;
	border-radius: 4px;
	padding:15px 20px;
}
.main_form .form #radio-choice-2{
	margin-left: 10px
}
input,
 input:focus,
 select,
 select:focus,
 textarea,
 textarea:fucus{
	outline: none;
	outline-width: 0;
	outline-style: none;
	outline-color: none
}
.main_form .form button{
	color: #fff;
    background-color: #000;
    border-color: #000;
    transition: all .25s ease;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 50px;
    margin-left: 15px
}
.main_form .demandes{
	margin-top: 60px
}
.main_form .demandes p{
	margin-bottom: 15px
}
.main_form .demandes a{
	color: #fff;
    background-color: #000;
    border-color: #000;
    font-family: 'Oswald';
    margin-top: 30px;
    display: inline-block;
    padding: 7px 14px;
    text-transform: uppercase;
    border-radius: 4px;
}





















